
.header {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.logo {
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
}

.logo:hover span {
  color: #1a5f25;
}

.logo span {
  font-weight: 400;
}

.mainscreen-menu {
  display: flex;
}

.mainscreen-menu div {
  position: relative;
}

.mainscreen-menu div a {
  font-size: 4rem;
  margin-right: 50px;
  text-decoration: none;
  position: relative;
  display: flex;
  padding: 10px 25px;
  z-index: 2;
  color: var(--mainYellow);
  background-color: #000;
}

.mainscreen-menu div a span{
  border: 1px #000 solid;
  width: 110%;
  height: 47px;
  position: absolute;
  z-index: -1;
  top: 35px;
  left: 0;
}

.mainscreen-menu div a::before, .mainscreen-menu div a::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: var(--mainYellow);
  border: 1px #000 solid;
  position: absolute;
  z-index: 1;
}

.mainscreen-menu div a::before {
  left: -12px;
  top: 55px;
}

.mainscreen-menu div a::after {
  right: -10px;
  top: 25px;
}

.mainscreen-menu div a:visited {
  color: var(--mainYellow);
;
}

.mainscreen-menu div a:hover {
  color: #c25f05;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 14px;
  }

  .mainscreen-menu div a {
    font-size: 14px;
    margin-right: 20px;
  }

  .mainscreen-menu div span {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 95%;
  }
}