@import url(../../style.css);
@import url(../../asset.css);
@import url(../../header.css);
@import url(../../footer.css);

html{
  scroll-behavior: smooth;
}

.container {

  & .header {
    height: auto;

    & a {
      text-decoration: none;
    }

    & .title{
      color: var(--color-dark-l);
    }

    & .subtitle {
      color: var(--color-dark-l);
    }

    & .navigation {

      & a{
        color: var(--color-dark-l);

        &:not(.active):hover {
          color: var(--dark-3xl);
        } 
      }

      & .active {
        color: var(--color-dark-l)
      }
    }
  }
}

.pets {
  height: 1342px;
  padding: 91px 40px 100px 40px;

  & .container{
    padding-top: 0;

    & .pets-carusel {
      height: 1930px;
    }

    & .pets-carusel__card-wrapper {
      width: 100%;
      flex-wrap: wrap;
      gap: 30px 40px;
    }

    & .pagination {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      gap: 10px;

      & .pages {
        display: flex;
        gap: 10px;

        & span {
          display: flex;
          align-items: end;
        }
      }
    }
  }

  

}






/* -------------------ADAPTIVE 768px-------------------- */

@media screen and (max-width:1279px) {
  .pets {
    height: 1733px;
    padding: 42px 10px;

    .header-3 {
      width: 350px;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    
    & .pets-carusel {
      height: 1733px !important;
      padding: 0px 80px;
    }

    // & .pets-carusel__card:nth-child(3) {
    //   display: block !important;
    // }

    // & .pets-carusel__card:not(:nth-child(-n+6)) {
    //   display: none !important;
    // }
  }
}


/* -------------------ADAPTIVE 768px-------------------- */

@media screen and (max-width:767px) {

  .header {
      padding: 30px 20px;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
  
    & .navigation {
      width: 30px;
      height: 100%;
      display: flex;
      justify-content: end;
      position: relative;
      z-index: 150;

      & .nav-icon {
        border: 2px solid #000;
    
        &::after {
          content: '';
          display: block;
          width: 100%;
          border: 2px solid #000;
          position: absolute;
          z-index: 150;
          top: -10px;
          left: -2px;
          transform: translateY(-50%);
        }
    
        &::before {
          content: '';
          display: block;
          width: 100%;
          border: 2px solid #000;
          position: absolute;
          z-index: 150;
          top: 10px;
          left: -2px;
          transform: translateY(-50%);
        }
    }
  
      & ul {
        background-color: var(--color-light-s);
  
        & li {
          list-style: none;
          height: 24px;
          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 160%;
  
          &:not(:last-child) {
            margin-right: 35px;
          }
  
          &:not(.active):hover a {
            transition:.2s;
            color: var(--color-light-s);
          }
  
          & a {
            text-decoration: none;
            color: var(--inactive)
          }
  
          & .active {
            border-bottom: 3px var(--primary) solid;
            color: var(--color-light-s);
            cursor: default;
          }
        }
  
      }
  
    }
  }
  
  .pets {
    height: 1649px;

    & .header-3 {
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      width: 300px;
      margin-top: 0px;
      margin-bottom: 30px;
    }

    & .pets-carusel {
      height: 1733px !important;
      padding: 0px 0px;
    }

    // & .pets-carusel__card:nth-child(2) {
    //   display: block !important;
    // }

    // & .pets-carusel__card:not(:nth-child(-n+3)) {
    //   display: none !important;
    // }

    
    & .pagination {
      min-width: 300px;
      width: 95%;

      & .simple-btn-circle {
        width: 25px;
        height: 25px;
        padding: 15px;
        font-size: 12px;
      }
    }
  }
  
  }
