@font-face {
font-family: "gothampro";  
src: url("../public/fonts/Gotham Pro/gothampro.ttf"); 
font-style: normal; 
font-weight: normal;
}

@font-face{
font-family: "gothamproBlack";
src: url("../public/fonts/Gotham Pro/gothampro_bold.ttf");
font-style: normal; 
font-weight: 700; 
}

:root {
  --mainYellow: #feac1d;
}

* {
  margin:0;
  padding: 0;
  font-family: 'gothampro';
  color: #000;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body{
  overflow-x: hidden;
}

.container {
  width: 85vw;
  margin: 0 auto;
}

.mainscreen {
  width: 100vw;
  min-height: 100vh;
  background: url('../public/img/bg.jpg');
  background-size: cover;
  padding-top: 2vh;
  position: relative;
}

.mainscreen-body {
  padding-top: 10vh;
  position: relative;
  z-index: 3;
}

.mainscreen-body h1 {
  font-weight: 400;
  font-size: 3vw;
  line-height: 80px;
  position: relative;
}

.mainscreen-body h1 div {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  color: var(--mainYellow);
  font-weight: 900;
  font-family: gothamproBlack;
  padding-right: 40px;
  position: relative;
  /*border-bottom: 2px #000 solid;
  border-right: 1px #000 solid;*/
  -webkit-box-shadow: -4px -8px 0px 1px var(--mainYellow);
  -moz-box-shadow: -4px -8px 0px 1px var(--mainYellow) ;
  box-shadow: 8px 11px 0px 2px var(--mainYellow), 12px 16px rgba(0, 0, 0, 1);
}

.mainscreen-body .mainscreen-body__sub-h1::before, .mainscreen-body h1 div::after {
  content: '';
  display: block;
  transform: rotate(45deg);
  background-color:var(--mainYellow);
  position: absolute;
  z-index: 1;
}

.mainscreen-body .mainscreen-body__sub-h1::before {
  width: 20px;
  height: 20px;
  border: 7px #000 solid;
  top: 78px;
  left: -15px;
}

.mainscreen-body .mainscreen-body__sub-h1::after {
  width: 40px;
  height: 40px;
  border: 5px #000 solid;
  right: -35px;
  top: -23px;
}

.mainscreen-body p{
  display: flex;
  margin-top: 8vh;
  margin-bottom: 20px;
  font-size: 1.5vw;
  font-weight: 700;
}

.mainscreen-body .mainscreen-body__stack{
  display: flex;
  background-color: #000;
  width: max-content;
  padding: 20px 0px 20px 40px;
  position: relative;
  z-index: 200;
}

.mainscreen-body .mainscreen-body__stack::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px #000 solid;
  transform: rotate(45deg);
  background-color: var(--mainYellow);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 100;
}

.mainscreen-body .mainscreen-body__stack::after {
  content: '';
  display: flex;
  background:repeating-linear-gradient(-45deg, 
    transparent, transparent 6px, black 0, black 14px);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 15px;
  left: 15px;
}

.mainscreen-body span ul {
  list-style: none;
  margin-right: 50px;
  line-height: 30px;
  position: relative;
  z-index: 2;
}

.mainscreen-body span li {
  color: #fefefe;
  font-size: 1.3vw;
  line-height: 2vw;
  position: relative;
  z-index: 2;
}

.main-button {
  max-width: 350px;
  position: absolute;
  bottom: 7vh;
}

.main-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  font-size: 26px;
  width: 300px;
  height: 60px;
  text-decoration: none;
  position: relative;
  z-index: 3;
  background-color: #000;
  border: 10px var(--mainYellow) solid;
}

.main-button a::before, .main-button a::after {
  content: '';
  display: block;
  width: 80%;
  height: 4px;
  background-color: #000;
  position: absolute;
}

.main-button a::before {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.main-button a::after {
  top: 53px;
  left: 50%;
  transform: translateX(-50%);
}

.main-button a:visited {
  color: var(--mainYellow)
}

.main-button a:hover {
  color: #c25f05;
}

.mainscreen__bottom-fire {
  position: absolute;
  bottom: 0;
  z-index: 0;
  background-image: url("../public/img/darkDown.png");
  background-position: 50% 0;
  background-size: cover;
  width: 100vw;
  height: 80vh;
}

.social {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 7vh;
  right: 5vw;
  width: 200px;
}

.social a {
  width: 40px;
  height: 40px;
}

.social a:hover img {
  transition: transform .3s;
  transform: scale(1.2);
}

.social a img {
  display: block;
  width: 40px;
  height: 40px;
}

h6 {
  text-align: center;
} 
